@font-face {
    font-family: "IntegralCF-Regular";
    src: url("media/fonts/IntegralCF-Regular.otf");
}

html {
	background-color: #11111d;
}
header {
	height: 70px;
	text-align: center;
	background: #11111d;
	color: white;
	font-size: 30px;
	position: fixed;
	overflow: hidden;
	width: 100%;	
	top: 0px;	
	left: 0;
	right: 0;
	    margin-right: auto;
    margin-left: auto;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px; 
	  text-align: center;
  display: flex;
  justify-content: space-around;
  border: solid #fbbc31;
}

.test {
	padding-top: 1000px;
}

a {
	color: white;
	text-decoration: none;
}

.imgheader{
	width: 100vw;
	align-items: center;
	justify-content: center;
}

.logo {
	height: 150px;
	position: fixed;
	top: 75px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.pages {
	overflow: hidden;
	margin-top: 15px;
	font-family: IntegralCF-Regular;
	font-style: bold;
	font-size: 1em;
}

h1{
	color: white;
	font-family: Verdana;
	text-align: center;
	padding-top: 50px;
}

p {
	color: white;
	text-align: center;
}